<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)Variables.wxi ?>

  <!--http://stackoverflow.com/questions/471424/wix-tricks-and-tips-->
  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.ManufacturerFullName)" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="$(var.Platform)" Description="$(var.ProductName)" />
    <Media Id="1" Cabinet="SmartDoc.cab" EmbedCab="yes" />

    <Property Id="INSTALLFOLDER">
      <RegistrySearch Id="RegistrySearch" Type="raw" Root="HKLM" Win64="$(var.Win64)"
                Key="Software\Wikiled\SmartDoc" Name="InstallLocation" />
    </Property>

    <MajorUpgrade DowngradeErrorMessage="!(loc.NewerInstalled)" AllowSameVersionUpgrades="yes" />

    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
      <!-- Skip license dialog -->
      <!-- Skip license dialog -->
      <Publish Dialog="WelcomeDlg"
               Control="Next"
               Event="NewDialog"
               Value="InstallDirDlg"
               Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg"
               Control="Back"
               Event="NewDialog"
               Value="WelcomeDlg"
               Order="2">1</Publish>
    </UI>

    <!--https://helgeklein.com/blog/2014/09/real-world-example-wix-msi-application-installer/-->
    <!-- This is the main installer sequence run when the product is actually installed -->
    <InstallExecuteSequence>
      <!-- Determine the install location after the install path has been validated by the installer -->
      <Custom Action="SetARPINSTALLLOCATION" After="InstallValidate"></Custom>
    </InstallExecuteSequence>

    <!-- Set up ARPINSTALLLOCATION property (http://blogs.technet.com/b/alexshev/archive/2008/02/09/from-msi-to-wix-part-2.aspx) -->
    <CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" />
    <!-- 
         Launch conditions
         1. Check minimum OS version 
            If not, the installation is aborted.
            By doing the (Installed OR ...) property means that this condition will only be evaluated if the app is being installed and not on uninstall or changing
            Note: Under a Product element, a condition becomes a LaunchCondition entry. 
      -->
    <Condition Message="!(loc.OS2Old)">
      <![CDATA[Installed OR (VersionNT >= 600)]]>
    </Condition>

    <Feature Id="ProductFeature" Title="SmartDoc" Level="1">
      <ComponentGroupRef Id="MyComponentGroup" />
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="COMPANYFOLDER" Name="$(var.ManufacturerName)">
          <Directory Id="INSTALLFOLDER" Name="$(var.InstallName)" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="MyStartMenuFolder" Name="$(var.InstallName)" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop"/>
    </Directory>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">      
        <Component Id="ApplicationShortcutDesktop" Guid="*">
          <Shortcut Id="ApplicationDesktopShortcut"
              Name="SmartDoc"
			  Directory="DesktopFolder"
              Description="SmartDoc"
              Target="[INSTALLFOLDER]Wikiled.SmartDoc.exe"
              WorkingDirectory="MYAPPDIRPROPERTY"/>       
		   <RemoveFolder Id="DesktopFolder" On="uninstall"/>			  
          <RegistryValue
              Root="HKCU"
              Key="Software\Wikiled\SmartDoc"
              Name="installed"
              Type="integer"
              Value="1"
              KeyPath="yes"/>
        </Component>      
      <Component Id="myShortcut" Guid="{705722CC-89CC-451C-81CD-F0FA4453BC18}">
        <Shortcut Id="SmartDocShortcut"
             Name="SmartDoc"
             Description="Runs SmartDoc"
             Directory="MyStartMenuFolder"
             Target="[INSTALLFOLDER]Wikiled.SmartDoc.exe" />        
		<RemoveFolder Id="RemoveStartMenuFolder" Directory="MyStartMenuFolder" On="uninstall" />
        <RegistryValue Root="HKCU"
            Key="Software\Wikiled\SmartDoc"
            Name="installed"
            Type="integer"
            Value="1"
            KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

</Wix>
